{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <br>
    <ul class="listings">
        {% for listing in Listings %}
            <li>
                <hr>
                <div class="row">
                    <div class="column">
                        {% if listing.image == "" %}
                            <p>No image.</p>
                        {% else %}
                            <img src="{{ listing.image }}">
                        {% endif %}
                    </div>
                    <div class="column">
                      <h3>{{ listing.title }}</h3>
                      <p><b>Price: </b>${{ listing.currentbid }}</p>
                      <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="passedValue" value="{{ listing.title }}" />
                        <button type="submit" name="addToWishlist">Add to Wishlist</button>
                      </form>
                    </div>
                </div>
                <hr>
            </li>
        {% endfor %}
    </ul>


{% endblock %}