{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}
    <h2>Active Listings</h2>
    <br>
    <ul class="listings">
        {% for listing in Listings %}
            <li>
                <hr>
                <div class="row">
                    <div class="column">
                        {% if listing.image == "" %}
                            <p>No image.</p>
                        {% else %}
                            <img src="{{ listing.image }}">
                        {% endif %}
                    </div>
                    <div class="column">
                      <h3>{{ listing.title }}</h3>
                      <p><b>Price: </b>${{ listing.currentbid}}</p>
                    </div>
                </div>
                <hr>
            </li>
        {% endfor %}
    </ul>


{% endblock %}